@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* chỉnh màu của tab của tab đang active */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container.active
  > .title
  .tabs-container
  > .tab.active {  
  font-weight: bold;
  background: linear-gradient(270deg, #ff0000, #00ff00, #5151f7, #ff0000);
  background-size: 600% 600%;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 8s linear infinite;
}
